<mat-toolbar color="primary">
  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My ToDo List</span>
</mat-toolbar>
<div class="container">
  <app-todo (parseToList)="receiveList($event)" [todo]="todo">
    <button type="button" (click)="addTask()" mat-fab extended color="primary">
      <mat-icon>add_task</mat-icon>
      Add Task
    </button>
  </app-todo>
  <app-todolist [todos]="todos" (onSelectedTodo)="selectedTask($event)"></app-todolist>
</div>