<h1>Create ToDo</h1>

<form [formGroup]="toDoForm" (submit)="saveForm()">
    <table>
        <tr>
            <td></td>
            <td>
                <mat-form-field class="example-full-width" color="accent">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" placeholder="Title" formControlName="title">
                </mat-form-field>
                <span *ngIf="invalidField('title')">
                    Cannot be empty
                </span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <mat-form-field class="example-full-width" color="accent">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" size="30" placeholder="Name" formControlName="name">
                </mat-form-field>
                <span *ngIf="invalidField('name')">
                    At least 3 char
                </span>
            </td>
        </tr>
        <br>
        <tr>
            <td></td>
            <td>
                <button type="submit" mat-fab extended color="accent" [disabled]="invalidForm()">
                    <mat-icon>save</mat-icon>
                    Save
                </button>
                <button type="button" (click)="addTask()" mat-fab extended color="primary">
                    <mat-icon>add_task</mat-icon>
                    Add Task
                </button>
            </td>
        </tr>
    </table>
    <br><br>
    <table *ngIf="taskArray.length > 0 else emptyArray">
        <thead>
            <tr>
                <th>Task</th>
                <th>Priority</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody formArrayName="tasks">
            <tr *ngFor="let t of taskArray.controls; let i = index" [formGroupName]="i">
                <td>
                    <mat-form-field class="example-full-width" color="accent">
                        <mat-label>Do what?</mat-label>
                        <input matInput type="text" formControlName="task">
                    </mat-form-field>
                    <span *ngIf="invalidField('task')">
                        Have to be more than 5 char
                    </span>
                </td>
                <td>
                    <div>
                      <input type="radio" formControlName="priority" value="low">
                      <label for="low">
                        Low
                      </label>
                      <input type="radio" formControlName="priority" value="med">
                      <label for="med">
                        Med
                      </label>
                      <input type="radio" formControlName="priority" value="high">
                      <label for="high">
                        High
                      </label>
                    </div>
                    <span *ngIf="invalidField('priority')">
                        Required field
                    </span>
                </td>
                <td>
                    <input type="datetime-local" size="30" formControlName="due">
                    <span *ngIf="invalidField('due')">
                        Required field
                    </span>
                </td>
                <td>
                    <button type="button" (click)="deleteTask(i)" mat-fab extended color="warn">
                        <mat-icon>remove</mat-icon>
                        Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<ng-template #emptyArray>
    <br>
    <br>
    <h2>No tasks added!</h2>
</ng-template>